<div class="wr-app-listing">
    <div class="wr-applist">
        {{#each applications}}
            <a style="width: 130px; height: 180px;" class="text-center">
                {{#equal isActive true}}
                    {{#equal platform "android"}}<i class="icon fw fw-android"></i>{{/equal}}
                    {{#equal platform "ios"}}<i class="icon fw fw-apple"></i>{{/equal}}
                    {{#equal platform "windows"}}<i class="icon fw fw-windows"></i>{{/equal}}
                    <span style="word-wrap: break-word;"><b>{{name}}</b></span>
                    <span style="word-wrap: break-word;"><b>V:{{version}}</b></span>
                    <span style="word-wrap: break-word;" class="text-center">
                        <i class="fw fw-ok icon-success" style="font-size: 14px;"></i>Active
                    </span>
                    {{#if memoryUsage}}
                        <span style="word-wrap: break-word;">
                            Memory Usage
                        </span>
                        <span style="word-wrap: break-word;">
                            ( {{memoryUsage}} Bytes )
                        </span>
                    {{/if}}
                {{/equal}}
                {{#equal isActive false}}
                    {{#equal platform "android"}}<i class="icon fw fw-android text-muted"></i>{{/equal}}
                    {{#equal platform "ios"}}<i class="icon fw fw-apple text-muted"></i>{{/equal}}
                    {{#equal platform "windows"}}<i class="icon fw fw-windows text-muted"></i>{{/equal}}
                    <span style="word-wrap: break-word;" class="text-muted">{{name}}</span>
                    <span style="word-wrap: break-word;" class="text-muted"><b>V:{{version}}</b></span>
                {{/equal}}
            </a>
        {{/each}}
    </div>
</div>