{{#if control_operations}}
    {{#each control_operations}}
        <form action="{{@app.context}}/api/operations/{{../device.type}}/{{operation}}?deviceId={{../device.deviceIdentifier}}"
              method="post" class="form-inline">
            <label class="wr-input-label">{{name}}</label>
            <input type="number" name="value"
                   placeholder="{{description}}">
            <button class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;Send
                                   to Device&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <label id="lblSending" class="wr-input-label hidden"><i
                    class="fw fw-lifecycle fw-spin fw-2x"></i> Sending..</label>
            <label id="lblSent" class="wr-input-label hidden"><i
                    class="fw fw-check fw-2x"></i> Sent</label>
            <label id="lblLastState"
                   class="wr-input-label wr-input-label-status"></label>
        </form>
    {{/each}}
{{/if}}
