{{#if control_operations}}
    <style>
        ::-webkit-input-placeholder {
            color: #B8B8B8;
        }

        ::-moz-placeholder {
            color: #B8B8B8;
        }

        :-ms-input-placeholder {
            color: #B8B8B8;
        }

        input:-moz-placeholder {
            color: #B8B8B8;
        }
    </style>
    {{#each control_operations}}
        <form action="{{@app.context}}/api/operations/{{../device.type}}/{{operation}}?deviceId={{../device.deviceIdentifier}}"
              method="post" class="form-inline" style="padding-bottom: 20px;">
            <label class="wr-input-label">{{name}}</label>
            {{#each params}}
                <input type="text" name="{{this}}" placeholder="{{this}}">
            {{/each}}
            <button class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;Send
                                   to Device&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <label id="lblSending" class="wr-input-label hidden"><i
                    class="fw fw-lifecycle fw-spin fw-2x"></i> Sending..</label>
            <label id="lblSent" class="wr-input-label hidden"><i
                    class="fw fw-check fw-2x"></i> Sent</label>
            <label id="lblLastState"
                   class="wr-input-label wr-input-label-status"></label>
        </form>
    {{/each}}
{{/if}}

{{#zone "bottomJs"}}
    {{js "js/operation.js"}}
{{/zone}}
