{{unit "cdmf.unit.ui.title" pageTitle="Register"}}

{{#zone "content"}}
    {{unit "uuf.unit.lib.form-validation"}}

    <div class="container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered wr-content wr-login col-centered sign-panel">

        <p class="page-sub-title">Register</p>

        <p>Create new account on IoT Server (All fields are required.)</p>
        <hr />
        <!-- validation -->
        <div class="wr-validation-summary hidden alert alert-danger">
            <strong></strong>
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
        <form method="POST" class="form-login-box" action="{{@app.context}}" id="registerForm">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" class="form-control"
                       placeholder="First Name" />
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="form-control"
                       placeholder="Last Name" />
            </div>

            <div class="form-group">
                <label for="user_name">Username</label>
                <input type="text" id="user_name" name="user_name" class="form-control"
                       placeholder="Username" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control"
                       placeholder="Email" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="Password" />
            </div>

            <div class="form-group">
                <label for="password_confirmation">Confirm Password</label>
                <input type="password" id="password_confirmation" name="password_confirmation"
                       class="form-control" placeholder="Confirm Password" />
            </div>


            <div class="wr-input-control">
                <button class="wr-btn" id="add-user-btn" type="submit">Register</button>
                <button class="wr-btn" onclick="document.location.href='{{@app.context}}/login';">
                    Cancel
                </button>
            </div>
        </form>

    </div>
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/validate-register.js"}}
{{/zone}}
