<span id="user-details" data-username="{{cuser.username}}"></span>
<div class="col-md-12 wr-page-content">
    <!-- form content placeholder -->
	{{#if groups}}
        <div id="ast-container-parent" class="ast-container">
			{{#each groups}}
                <div class="ast-container list-view group-title">
                    <div class="row wr-device-board list-view" style="font-size: inherit; background: #fff;">
                        <div class="ast-container " id="ast-container">
                            <div class="container-fluid ">
								{{#if name}}
                                    <div class="title">
                                        <a class="asset-type-deviceType">
                                            {{name}} Devices
                                        </a>
                                    </div>
                                    <div class="ast-model">
                                        <a href="{{url ""}}/pages/analytics?groupId={{id}}&name={{name}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-statistics fw-stack-1x"></i>
											</span>
                                            <span class="lbl-action">Analytics</span>
                                        </a>
                                        <a href="#" class="share-group-link" data-groupid="{{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-share fw-stack-1x"></i>
											</span>
                                            <span class="lbl-action">Share</span>
                                        </a>
                                        <a href="#" class="edit-group-link" data-groupid="{{id}}"
                                           data-groupname="{{name}}"
                                           data-groupdescription="{{description}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-edit fw-stack-1x"></i>
											</span>
                                            <span class="lbl-action">Edit</span>
                                        </a>
                                        <a href="#" class="remove-group-link" data-groupid="{{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-delete fw-stack-1x"></i>
											</span>
                                            <span class="lbl-action">Delete</span>
                                        </a>
                                    </div>
                                {{else}}
                                    {{#if devices}}
                                        <div class="title">
                                            <a class="asset-type-deviceType">
                                                Ungrouped devices
                                            </a>
                                        </div>
                                    {{/if}}
								{{/if}}
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ast-container-{{id}}" class="ast-container devices-set list-view">
					{{#if devices}}
						{{#each devices}}
                            <div class="ctrl-wr-asset" data-deviceid="{{deviceIdentifier}}" data-type="{{type}}">
                                <div class="itm-select">
                                    <label class="wr-input-control checkbox">
                                        <input type="checkbox"/>
                                        <span class="helper"></span>
                                    </label>
                                </div>
                                <div class="itm-ast">
                                    <a href="{{url ""}}/pages/device/{{type}}/{{deviceIdentifier}}">
                                        <div class="ast-img"><img class="img-responsive"
                                                                  src="{{url ""}}/storage/deviceType/{{assetId}}/images_thumbnail"/>
                                        </div>
                                        <div class="ast-desc">
                                            <div class="ast-title">
                                                <a class="ast-name truncate">{{name}}</a>
                                                <span class="ast-auth">Device Type: {{type}}</span>
                                        <span class="ast-auth">Enrolled On: <span
                                                class="formatDate">{{enrolmentInfo.dateOfEnrolment}}</span></span>
                                            </div>
                                            <div class="ast-model">
                                                <span class="ast-ver">Owner: {{enrolmentInfo.owner}}</span>
                                                <span class="ast-published">{{enrolmentInfo.status}}</span>

                                                <div class="ast-btn-group">
                                                    <a href="{{url ""}}/pages/device/{{type}}/{{deviceIdentifier}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-view fw-stack-1x"></i>
											</span>
                                                        <span class="lbl-action">View</span>
                                                    </a>
                                                    <a href="{{url ""}}/pages/analytics?deviceId={{deviceIdentifier}}&deviceType={{type}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-statistics fw-stack-1x"></i>
											</span>
                                                        <span class="lbl-action">Analytics</span>
                                                    </a>
                                                    <a href="{{url ""}}/pages/policies/add?deviceId={{deviceIdentifier}}&deviceType={{type}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-add fw-stack-1x"></i>
											</span>
                                                        <span class="lbl-action">Policy</span>
                                                    </a>
                                                    <a href="#" class="group-device-link"
                                                       data-deviceid="{{deviceIdentifier}}"
                                                       data-devicetype="{{type}}"
                                                       data-devicename="{{name}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-grid fw-stack-1x"></i>
											</span>
                                                        <span class="lbl-action">Group</span>
                                                    </a>

                                                    <a href="#" class="edit-device-link"
                                                       data-deviceid="{{deviceIdentifier}}"
                                                       data-devicetype="{{type}}" data-devicename="{{name}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-edit fw-stack-1x"></i>
											</span>
                                                        <span class="lbl-action">Edit</span>
                                                    </a>
                                                    <a href="#" class="remove-device-link"
                                                       data-deviceid="{{deviceIdentifier}}"
                                                       data-devicetype="{{type}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-delete fw-stack-1x"></i>
											</span>
                                                        <span class="lbl-action">Delete</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <br class="c-both"/>
                                    </a>
                                </div>
                                <br/>
                            </div>
						{{/each}}
					{{else}}
						{{#if name}}
                            <div id="ast-container" class="ast-container list-view">
                                <div class="assets-container margin-top-double padding-top-double">
                                    <div class="top-assets-empty-assert">You don't have any associated device here.
                                        Please associate a device.
                                    </div>
                                </div>
                            </div>
						{{/if}}
					{{/if}}
                    <br class="c-both"/>
                </div>
                <br/>
			{{/each}}
        </div>
	{{else}}
        <div id="ast-container" class="ast-container list-view">
            <div class="ctrl-info-panel col-centered text-center wr-login">
                <h2>You don't have any Devices registered at the moment.</h2>
                <br/>
                <p class="text-center">
                    <a href="{{url ""}}/assets/deviceType/list" class="cu-btn">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-add fw-stack-1x"></i>
                    </span>
                        Enroll New Device
                    </a>
                </p>
            </div>
        </div>
	{{/if}}

    <div id="remove-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Do you really want to remove this device from your devices?</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="remove-device-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-device-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-device-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device was successfully removed.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Please enter new name for the device?</h3>
                    <br/>

                    <div>
                        <input id="edit-device-name" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Type here" size="60">
                    </div>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="edit-device-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Rename&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="edit-device-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-device-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device was successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Please select group</h3>
                    <br/>

                    <div id="user-groups">Loading...</div>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="group-device-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Assign&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="group-device-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-associate-device-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device was successfully associated with group.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-deassociate-device-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device was successfully removed from group.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Operation not permitted.</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device does not exist.</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="remove-device-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-w1-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Select user to manage group sharing</h3>

                    <div id="user-names">Loading...</div>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="share-group-next-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="share-group-w1-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-w2-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Select sharing roles</h3>
                    <br/>

                    <div id="user-roles">Loading...</div>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="share-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="share-group-w2-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Group sharing updated successfully.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-group-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Do you really want to remove this group from your groups?</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="remove-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-group-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-group-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Group was successfully removed.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-group-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Please enter new name and description for the group</h3>
                    <br/>

                    <div>
                        <input id="edit-group-name" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Group Name" size="60">
                    </div>
                    <br/>

                    <div>
                        <input id="edit-group-description" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Group Description" size="60">
                    </div>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="edit-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="edit-group-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-group-200-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Group was successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="group-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Action not permitted.</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="group-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Group does not exist.</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="group-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Unexpected error occurred!</h3>
                    <br/>
                    <div class="buttons">
                        <a href="#" id="unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>