<br/>
<span id="user-details" data-username="{{cuser.username}}"></span>
<div class="ast-container " id="ast-container">
    <div class="container-fluid ">
        <div class="title">
            <a class="asset-type-deviceType">Device Policies</a>
        </div>
        <hr>
    </div>
</div>
{{#if policies}}
    <div class="wr-list-group wr-sortable">
		{{#each policies}}
            <span id="{{id}}" class="list-group-item">
                                <i class="wr-sortable-icon fw fw-sort hide"></i>
                                <i class="wr-list-icon fw fw-policy"></i>
                                <div class="wr-list-desc">
                                    <h3 class="wr-list-name">{{policyName}}</h3>
                                    <span class="wr-list-username">Device Type: {{deviceType}}
                                                                   {{#if device}}
                                                                       | Device Name: {{device.name}}
                                                                   {{/if}}
                                                                   | Last Updated: <span
                                            class="formatDate">{{updated}}</span></span>
                                </div>
                                <span class="list-group-item-actions">
                                    <!--<a href="#" class="remove-policy-link cu-btn-inner"-->
                                       <!--data-devicetype="{{deviceType}}"-->
                                       <!--data-policyname="{{policyName}}"-->
                                       <!--data-policyuuid="{{id}}">-->
                                    <!--<span class="fw-stack">-->
                                        <!--<i class="fw fw-ring fw-stack-2x"></i>-->
                                        <!--<i class="fw fw-edit fw-stack-1x"></i>-->
                                    <!--</span>-->
                                        <!--Edit-->
                                    <!--</a>-->
									<a href="#" class="remove-policy-link cu-btn-inner"
                                       data-devicetype="{{deviceType}}"
                                       data-policyname="{{policyName}}"
                                       data-policyuuid="{{id}}">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-delete fw-stack-1x"></i>
                                    </span>
                                        Remove
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </span>
		{{/each}}
    </div>
{{else}}
    <!-- no policies found -->
    <div id="ast-container" class="ast-container list-view">
        <div id="ast-container" class="ast-container list-view">
            <div class="assets-container margin-top-double padding-top-double">
                <div class="top-assets-empty-assert">You don't have any Policies added at the moment. Please add new
                    policy first.
                </div>
            </div>
        </div>
    </div>
{{/if}}

<div id="remove-policy-modal-content" class="hide">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Do you really want to remove this policy?</h3>

                <div class="buttons">
                    <a href="#" id="remove-policy-yes-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    &nbsp;&nbsp;
                    <a href="#" id="remove-policy-cancel-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="remove-policy-200-content" class="hide">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Policy was successfully removed.</h3>

                <div class="buttons">
                    <a href="#" id="remove-policy-200-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="remove-policy-400-content" class="hide">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Exception at backend. Try Later.</h3>

                <div class="buttons">
                    <a href="#" id="remove-policy-400-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="remove-policy-403-content" class="hide">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Action not permitted.</h3>

                <div class="buttons">
                    <a href="#" id="remove-policy-403-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="remove-policy-409-content" class="hide">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Policy does not exist.</h3>

                <div class="buttons">
                    <a href="#" id="remove-policy-409-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="remove-policy-unexpected-error-content" class="hide">
    <div class="modal-modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Policy does not exist.</h3>

                <div class="buttons">
                    <a href="#" id="remove-policy-unexpected-error-link" class="btn-operations">
                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>