{{unit "cdmf.unit.lib.qrcode"}}
{{unit "cdmf.unit.device.type.windows.qr-modal"}}

<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Windows Mobile</h1>
    <hr>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-top">
    <img src="{{@unit.publicUri}}/images/windows-icon.png" class="img-responsive">
</div>


<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-top">

    <h3 class="uppercase">What it Does</h3>
    <hr>
    <p class="grey margin-top">Connect and manage your Windows device with WSO2 IoT Server.</p>
    <br>

    <a href="#" class="download-link btn-operations"><i class="fw fw-mobile fw-inverse fw-lg add-margin-1x"></i> Enroll Device</a>
    <a href="#" class="btn-operations"><i class="fw fw-download fw-inverse fw-lg add-margin-1x"></i> Download APK</a>
    <a href="javascript:toggleEmailInvite()" class="btn-operations"><i class="fw fw-mail fw-inverse fw-lg add-margin-1x"></i> Invite by Email</a>

    <h3 class="uppercase"> Configure your workplace account</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="badge">STEP 01</span>   Open Workplace native application on your
            mobile device through device settings.
        </li>
        <li class="padding-top-double"><span class="badge">STEP 02</span>   Tap add account to start the
            registration process.
        </li>
        <li class="padding-top-double"><span class="badge">STEP 03</span>   Provide your corporate email address,
            and tap sign in.
        </li>
        <li class="padding-top-double"><span class="badge">STEP 04</span>   Enter your details, and tap Login.
            Username - Enter username provided in the email.
            Password - Enter password provided in the email.
        </li>

        <li class="padding-top-double"><span class="badge">STEP 05</span>   Read the policy agreement,
            and tap  I Accept  to accept the agreement and completed the device enrollment.
        </li>

    </ul>
    <br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-double">
    <p class="grey margin-top"> Follow instructions in wizard </p>
    <center>
        <a href="{{@unit.publicUri}}/images/windows_enrollment.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/windows_enrollment.png" class="img-responsive">
        </a>
    </center>
</div>

<br/>

{{unit "cdmf.unit.device.type.email.invite-modal"}}

{{#zone "topCss"}}
    {{css "css/styles.css"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/type-view.js"}}
{{/zone}}