<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Drone Analyzer</h1>
    <hr>
    <p class="margin-bottom-double light-grey ">Connect your drone device to the WSO2 device cloud.</p>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-top">
    <img src="{{@unit.publicUri}}/images/drone-icon.png" class="img-responsive">
</div>

<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 padding-top">
    <h3 class="uppercase">Ingredients</h3>
    <hr>
    <p class="grey margin-top">Hardware Requirements </p>
    <br>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="circle">01</span> Set up your IRIS+ Drone as shown in the schematic below.</li>
    </ul>
    <br>

    <a href="/api-store/apis/info?name={{@uriParams.deviceType}}&version=1.0.0&provider=admin" class="btn-operations" target="_blank" ><i class="fw fw-api"></i> View API</i> &nbsp;</a>
    <a href="#" class="download-link btn-operations"><i class="fw fw-download"></i>Download</a>

    <div id="download-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7  center-container">
                    <h3>Name your device and download the agent from following link.</h3>
                    <br/>
                    <form id="downloadForm" method="GET" action="{{@app.context}}/api/devices/sketch/download">
                        <div class="control-group">
                            <div class="controls">
                                <input class="new-device-name" style="color:#3f3f3f;padding:5px"
                                       type="text"
                                       placeholder="Ex. drone"
                                       name="deviceName" size="60" required>
                                <br/>
                                <input type="hidden" class="deviceType" name="deviceType"
                                       value="drone_analyzer"/>
                                <input type="hidden" class="sketchType" name="sketchType"
                                       value="drone_analyzer"/>
                            </div>
                        </div>
                        <br/>
                        <div class="buttons">
                            <a class="btn-operations" onclick="downloadAgent()">Download
                                Now</a>
                            &nbsp;&nbsp;
                            <a href="#" id="download-device-download-link" class="blue-button">
                                &nbsp;&nbsp;&nbsp;&nbsp;Copy Link&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                            &nbsp;&nbsp;
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>You have to log in first.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            &nbsp;&nbsp;&nbsp;&nbsp;Goto Login Page&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>&nbsp;&nbsp;
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Action not permitted.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device Sketch does not exist.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Unexpected error.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double grey-bg ">
    <h3 class="uppercase">Prepare</h3><hr>
    <p class="grey margin-top">Get your device ready</p>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="circle">01</span> Set up your IRIS+ Drone as shown in the schematic below.</li>
    </ul>
    <br>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double">
    <h3 class="uppercase">Schematic Diagram</h3><hr>
    <p class="grey margin-top">Click on the image to zoom</p>
    <center>
        <a href="{{@unit.publicUri}}/images/schematicsGuide.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/schematicsGuide.png" class="img-responsive" style="max-width: 500px; max-height: 500px">
        </a>
    </center>
    <br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double">
    <h3 class="uppercase">Connect (Quick Start)</h3><hr>
    <p class="grey margin-top">Internet of Things Foundation Quickstart connection</p>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="circle">01</span> <b>Click on the download button above to get the IRIS+ Drone setup files</b></li>
        <li class="padding-top-double"><span class="circle">02</span> <b>Connecting to drone</b>
            </br>
            <div>
                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>Connection type</th>
                        <th>Connection string</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Linux computer connected to the drone via USB</td>
                        <td>/dev/ttyAMA0(also set baud=57600)</td>
                    </tr>
                    <tr>
                        <td>OSX computer connected to the drone via USB</td>
                        <td>dev/cu.usbmodem1</td>
                    </tr>
                    <tr>
                        <td>Windows computer connected to the drone via USB (in this case on COM14)</td>
                        <td>com14</td>
                    </tr>
                    <tr>
                        <td>Windows computer connected to the drone using a 3DR Telemetry Radio on COM14</td>
                        <td>com14(also set baud=57600)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            Ones you have the setup files please run startservice.sh with root privilege.</br>
            <b>Note:</b> these connection types may vary from computer to computer. So please provide the correct
            connection port
        </li>
    </ul>
    <br/>
</div>

</div>

<div id="qr-code-modal" data-enrollment-url="{{deviceType.enrollmentURL}}" class="hidden">

    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    Scan QR code to start enrollment
                </h3>
                <h4>
                    Please scan the QR code using your mobile device to retrieve enrollment URL.
                </h4>

                <div class="panel panel-default">
                    <div class="panel-body col-centered ">
                        <div class="qr-code"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#zone "topCss"}}
    <style type="text/css">
        .circle {
            background: none repeat scroll 0 0 #191919;
            border-radius: 50px;
            height: 50px;
            padding: 10px;
            width: 50px;
            color: #fff;
        }
        .padding-top-double {
            padding-top: 20px;
        }
        .padding-double {
            padding: 20px;
        }
        .grey {
            color: #333;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #7f7f7f;
            margin: 1em 0;
            padding: 0;
            opacity: 0.2;
        }
        .light-grey {
            color: #7c7c7c;
        }
        .uppercase {
            text-transform: uppercase;
        }
        .grey-bg {
            background-color: #f6f4f4;
        }
    </style>
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
    <script type="text/javascript">

        $(document).ready(function(){
            toggleEnrollment();
        });


        function toggleEnrollment(){
            $(".modalpopup-content").html($("#qr-code-modal").html());
            //generateQRCode(".modalpopup-content .qr-code");
            //showPopup();
        }

    </script>
{{/zone}}