<h4 class="message text-muted">
    Most Recent
</h4>
{{#each notifications}}
    <li class="message" data-type="selectable">
        <h4>
            <i class="icon fw fw-mobile text-muted"></i>
            <a href="../device/{{deviceType}}?id={{deviceIdentifier}}"
               data-id="{{operationId}}"
               data-url="../device/{{deviceType}}?id={{deviceIdentifier}}"
               class="new-notification" data-click-event="remove-form">
               Notification on {{deviceType}} {{deviceName}}
            </a>
        </h4>
        <p>{{description}}</p>
    </li>
{{/each}}