<h4 class="message text-muted">
    Most Recent
</h4>
{{#each notifications}}
    <li class="message" data-type="selectable" >
        <h4>
            <i class="icon fw fw-mobile text-muted"></i>
            <a  data-id="{{id}}"
                data-url="{{../contextPath}}/device/{{deviceType}}?id={{deviceIdentifier}}"
                class="new-notification text-capitalize" data-click-event="remove-form">
                Failure on {{deviceType}} {{deviceName}}
            </a>
        </h4>
        <p>{{description}}</p>
    </li>
{{/each}}