{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{#zone "topCss"}}
    <style>
        .thumbnail.icon:before {
            padding-top: 0;
        }
    </style>
{{/zone}}
{{#zone "device-thumbnail"}}
    <i class="fw fw-android-sense device-type fw-2x"></i>
{{/zone}}

{{#zone "device-opetations"}}

{{/zone}}

{{#zone "device-details"}}
{{/zone}}

{{#zone "device-view-tabs"}}
    <li class="active"><a class="list-group-item" href="#device_statistics" role="tab"
                          data-toggle="tab" aria-controls="device_statistics">Device
        Statistics</a>
    </li>
    <li><a class="list-group-item location_tab" href="#geo_dashboard" role="tab" data-toggle="tab"
           aria-controls="geo_dashboard">Device Location</a></li>
{{/zone}}

{{#zone "device-view-tab-contents"}}
    <div class="panel panel-default tab-pane active"
         id="device_statistics" role="tabpanel" aria-labelledby="device_statistics">
        <div class="panel-heading">Device Statistics</div>
        {{unit "cdmf.unit.device.type.android_sense.realtime.analytics-view" device=device}}
    </div>
    <div class="panel panel-default tab-pane"
         id="geo_dashboard" role="tabpanel" aria-labelledby="geo_dashboard">
        <div class="panel-heading">Device Location</div>
        <br/>
        {{unit "cdmf.unit.geo-dashboard" device=device}}
        {{#if locationHistory}}
            <div id="device-location"
                 data-locations = "{{locationHistory}}">
            </div>
            <br/>
            <a class="padding-left" target="_blank"
               href="{{portalUrl}}/portal/dashboards/geo-dashboard/?GLOBAL-STATE={{anchor}}">
                                <span class="fw-stack">
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                    <i class="fw fw-map-location fw-stack-1x"></i>
                                </span>  Add Geo Fencing
            </a>
        {{else}}
            <div id="map-error" class="message message-warning">
                <h4 class="remove-margin">
                    <i class="icon fw fw-warning"></i>
                    Device location information is not available.
                </h4>
            </div>
            <p class="add-padding-5x"></p>
            <p class="add-padding-5x"></p>
            <p class="add-padding-5x"></p>
        {{/if}}
        <div id="chartWrapper">
        </div>
    </div>
{{/zone}}