{{#if attributes.overview_actionLabel}}
    <br/><br/>

    <div id="download-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Name your device and download the agent from following link.</h3>
                    <br/>

                    <form id="downloadForm" method="GET"
                          action="{{url ""}}/apis/devices/sketch/download">
                        <div class="control-group">
                            <div class="controls">
                                <input class="new-device-name" style="color:#3f3f3f;padding:5px"
                                       type="text"
                                       placeholder="Ex. Lobby_{{attributes.overview_name}}"
                                       name="deviceName" size="60" required>
                                <br/>
                                <input type="hidden" class="deviceType" name="deviceType"
                                       value="{{attributes.overview_name}}"/>
                                <input type="hidden" class="sketchType" name="sketchType"
                                       value="{{attributes.sketches_Sketches}}"/>
                                <div class="sketchTypes" style="  padding-top: 20px; padding-bottom: 5px; font-size: 18px;">
                                    {{#each attributes.sketches_Sketches}}
                                        <input type="radio" name="sketchType" id="{{this}}"
                                               value="{{this}}"><label for="{{this}}">{{this}}</label>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="buttons">
                            <a class="btn-operations" onclick="downloadAgent()">Download
                                                                                Now</a>
                            &nbsp;&nbsp;
                            <a href="#" id="download-device-download-link" class="blue-button">
                                &nbsp;&nbsp;&nbsp;&nbsp;Copy Link&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                            &nbsp;&nbsp;
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="download-device-modal-content-links" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Please download the file from following link(Press CTRL+C).</h3>
                    <br/>

                    <div>
                        <input id="download-device-url" style="color:#3f3f3f;padding:5px"
                               type="text" value="" placeholder="Type here" size="60">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>You have to log in first.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            &nbsp;&nbsp;&nbsp;&nbsp;Goto Login Page&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>&nbsp;&nbsp;
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Action not permitted.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device Sketch does not exist.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Unexpected error.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="blue-button download-link"><i
            class="fw fw-download"></i>{{attributes.overview_actionLabel}}</a>
{{/if}}
