<div class="ast-container " id="ast-container">
    <div class="container-fluid ">

        <div class="page-header">
            <h2>Connect & manage your devices with WSO2 middleware & analytics platform</h2>
            <p class="lead">Select your device type to get started</p>
        </div>

        <!--        <div class="title"><a class="asset-type-{{rxt.shortName}}" href="{{tenantedUrl "/assets/"}}{{rxt.shortName}}/list?">{{rxt.pluralLabel}}</a></div>-->
        <div class="title"><a class="asset-type-{{rxt.shortName}}" href="{{tenantedUrl "/assets/"}}{{rxt.shortName}}/list?">Currently supported device types</a></div>
        
        <div class="pull-right sort-asset-container">

            <a aria-expanded="false" data-toggle="dropdown" id="sortDropdown" type="button" class="dropdown-toggle" href="#">
                <span class="sort-asset-info">( {{sorting.sortHelp}} <i class="fa {{sorting.sortHelpIcon}}"></i> )</span>
                <img src="/publisher/themes/default/img/icons/ico-sort.png">
            </a>
            <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu" id="ul-sort-assets" data-type="gadget">
                <li role="presentation" class="{{#if sorting.popularActive}}active{{/if}}">
                    <a href='{{tenantedUrl ""}}/assets/{{rxt.shortName}}/list?sort=popular' class="filter-item"><span class="pull-left">Popular</span> </a>
                </li>
                <li role="presentation" class="{{#if sorting.nameActive}}active{{/if}}">
                    <a href='{{tenantedUrl ""}}/assets/{{rxt.shortName}}/list?sortBy=overview_name&sort={{sorting.nameNextSort}}' title='{{t "Sort by Alphabetical Order"}}'><span class="pull-left">Name</span> <i class="fa {{sorting.nameIcon}} pull-right"></i></a>
                </li>
                <li role="presentation" class="{{#if sorting.dateTimeActive}}active{{/if}}">
                    <a href='{{tenantedUrl ""}}/assets/{{rxt.shortName}}/list?sortBy=overview_createdtime&sort={{sorting.dateTimeNextSort}}' data-toggle="tooltip" data-sort="overview_createdtime" title='{{t "Sort by Created Date"}}'><span class="pull-left">Date/Time Created</span> <i class="fa {{sorting.dateTimeIcon}} pull-right"></i></a>
                </li>
            </ul>
        </div>
    <hr>
</div>
</div>