{{unit "mdm.unit.lib.leaflet"}}
{{unit "cdmf.unit.lib.qrcode"}}
{{unit "mdm.unit.device.qr-modal"}}

{{#zone "content"}}
    {{#if deviceFound}}
        {{#if isAuthorized}}
            <h1 class="page-sub-title device-id device-select" data-deviceid="{{device.deviceIdentifier}}" data-type="{{device.type}}">
                Device {{device.name}}
                {{#if device.viewModel.model}}
                    <span class="lbl-device">
                    ( {{device.viewModel.vendor}} {{device.viewModel.model}} )
                </span>
                {{/if}}
            </h1>
            <div class="row no-gutter add-padding-5x add-margin-top-5x" style="border: 1px solid #e4e4e4;">
            <div class="media">
                <div class="media-left media-middle asset-image col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="thumbnail icon"><i class="square-element text fw fw-mobile"></i></div>
                </div>
                <div class="media-body asset-desc add-padding-left-5x">
                    <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">Device Overview</div>
                    {{#defineZone "device-detail-properties"}}
                        <table class="table table-responsive table-striped" id="members">
                            <tbody>
                            {{#if device.viewModel.deviceIdentifier}}
                                <tr role="row" class="odd">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Device ID</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.deviceIdentifier}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.deviceName}}
                                <tr role="row" class="even">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Name</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.deviceName}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.vendor}}
                                {{#if device.viewModel.model}}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1" style="padding:10px 15px; width: 15%;">Model</td>
                                        <td style="padding:10px 15px;">{{device.viewModel.vendor}} {{device.viewModel.model}}</td>
                                    </tr>
                                {{/if}}
                            {{/if}}
                            {{#if device.status}}
                                <tr role="row" class="even">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Status</td>
                                    <td style="padding:10px 15px;">
                                        {{#equal device.status "ACTIVE"}}<span><i class="fw fw-ok icon-success"></i>&nbsp;&nbsp;Active</span>{{/equal}}
                                        {{#equal device.status "INACTIVE"}}<span><i class="fw fw-warning icon-warning"></i>&nbsp;&nbsp;Inactive</span>{{/equal}}
                                        {{#equal device.status "BLOCKED"}}<span><i class="fw fw-remove icon-danger"></i>&nbsp;&nbsp;Blocked</span>{{/equal}}
                                        {{#equal device.status "REMOVED"}}<span><i class="fw fw-delete icon-danger"></i>&nbsp;&nbsp;Removed</span>{{/equal}}
                                    </td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.owner}}
                                <tr role="row" class="odd">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Owner</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.owner}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.ownership}}
                                <tr role="row" class="even">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Ownership</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.ownership}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.imei}}
                                <tr role="row" class="even">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">IMEI</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.imei}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.udid}}
                                <tr role="row" class="odd">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">UDID</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.udid}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.os_build_date}}
                                <tr role="row" class="even">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Firmware Build Date</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.os_build_date}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.phoneNumber}}
                                <tr role="row" class="odd">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Phone Number</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.phoneNumber}}</td>
                                </tr>
                            {{/if}}
                            {{#if device.viewModel.lastUpdatedTime}}
                                <tr role="row" class="even">
                                    <td class="sorting_1" style="padding:10px 15px; width: 15%;">Last Update</td>
                                    <td style="padding:10px 15px;">{{device.viewModel.lastUpdatedTime}}</td>
                                </tr>
                            {{/if}}
                            </tbody>
                        </table>
                    {{/defineZone}}
                    <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">Operations</div>
                    <div class="add-margin-top-4x">
                        {{unit "mdm.unit.device.operation-bar" deviceType=device.type}}
                    </div>
                </div>
            </div>
            <div class="media tab-responsive">
            <div class="media-left col-xs-1 col-sm-1 col-md-2 col-lg-2 hidden-xs">
                <ul class="list-group nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="list-group-item active">
                        <a href="#device_details_tab" role="tab" data-toggle="tab" aria-controls="device_details_tab">
                            <i class="icon fw fw-mobile"></i><span class="hidden-sm">Device Details</span>
                        </a>
                    </li>
                    <li role="presentation" class="list-group-item">
                        <a href="#policy_compliance_tab" role="tab" data-toggle="tab" aria-controls="policy_compliance_tab">
                            <i class="icon fw fw-policy"></i><span class="hidden-sm">Policy Compliance</span>
                        </a>
                    </li>
                    <li role="presentation" class="list-group-item">
                        <a href="#device_location_tab" role="tab" data-toggle="tab"
                           data-lat="{{device.viewModel.location.latitude}}"
                           data-long="{{device.viewModel.location.longitude}}"
                           aria-controls="device_location_tab">
                            <i class="icon fw fw-map-location"></i><span class="hidden-sm">Device Location</span>
                        </a>
                    </li>
                    <li role="presentation" class="list-group-item">
                        <a href="#installed_applications_tab" role="tab" data-toggle="tab" aria-controls="installed_applications_tab">
                            <i class="icon fw fw-application"></i><span class="hidden-sm">Installed Applications</span>
                        </a>
                    </li>
                    <li role="presentation" class="list-group-item">
                        <a href="#event_log_tab" role="tab" data-toggle="tab" aria-controls="event_log_tab">
                            <i class="icon fw fw-text"></i><span class="hidden-sm">Operations Log</span>
                        </a>
                    </li>
                </ul>
            </div>
            {{#defineZone "device-detail-properties"}}
                <div class="media-body add-padding-left-5x remove-padding-xs">
                <div class="panel-group tab-content remove-padding" id="tabs" role="tablist" aria-multiselectable="true">
                <div class="arrow-left hidden-xs"></div>

                <div class="panel panel-default" role="tabpanel" id="device_details_tab">
                    <div class="panel-heading visible-xs collapsed" id="device_details">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#tabs" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fw fw-mobile fw-2x"></i>
                                Device Details
                                <i class="caret-updown fw fw-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-heading display-none-xs">Device Details</div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="device_details">
                        <div class="panel-body ">
                            <div class="device-detail-body">
                                <!-- device summary -->
                                {{#equal device.type "windows"}}
                                    <div class="message message-info">
                                        <h4 class="remove-margin"><i class="icon fw fw-info"></i>Not available yet</h4>
                                    </div>
                                {{/equal}}
                                {{#if device.viewModel.deviceInfo}}
                                    {{#if device.viewModel.BatteryLevel}}
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-md-12">
                                                <div class="wr-stats-board-tile">
                                                    <div class="tile-name">BATTERY</div>
                                                    <div>
                                                        <div class="tile-icon"><i class="fw fw-battery"></i></div>
                                                        <div class="tile-stats">
                                                            {{device.viewModel.BatteryLevel.value}} %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                    <!--{{#if device.viewModel.cpuUsage}}-->
                                        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">-->
                                            <!--<div class="col-md-12">-->
                                                <!--<div class="wr-stats-board-tile">-->
                                                    <!--<div class="tile-name">CPU Usage</div>-->
                                                    <!--<div>-->
                                                        <!--<div class="tile-icon"><i class="fw fw-dashboard"></i></div>-->
                                                        <!--<div class="tile-stats">-->
                                                            <!--{{device.viewModel.cpuUsage.value}} %-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--{{/if}}-->
                                    {{#if device.viewModel.ramUsage}}
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-md-12">
                                                <div class="wr-stats-board-tile">
                                                    <div class="tile-name">RAM Usage</div>
                                                    <div>
                                                        <div class="tile-icon"><i class="fw fw-hardware"></i></div>
                                                        <div class="tile-stats">
                                                            {{device.viewModel.ramUsage.value}} %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if device.viewModel.internalMemory}}
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-md-12">
                                                <div class="wr-stats-board-tile">
                                                    <div class="tile-name">Local Storage</div>
                                                    <div>
                                                        <div class="tile-icon"><i class="fw fw-hdd"></i></div>
                                                        <div class="tile-stats">
                                                            {{device.viewModel.internalMemory.usage}} %
                                                        <span class="tile-stats-free">
                                                            TOTAL OF {{device.viewModel.internalMemory.total}} GB
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if device.viewModel.externalMemory}}
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-md-12">
                                                <div class="wr-stats-board-tile">
                                                    <div class="tile-name">External Storage</div>
                                                    <div>
                                                        <div class="tile-icon"><i class="fw fw-usb-drive"></i></div>
                                                        <div class="tile-stats">
                                                            {{device.viewModel.externalMemory.usage}} %
                                                        <span class="tile-stats-free">
                                                            TOTAL OF {{device.viewModel.externalMemory.total}} GB
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{else}}
                                    <div class="message message-info">
                                        <h4 class="remove-margin">
                                            <i class="icon fw fw-info"></i>
                                            Battery, RAM and Storage related information are not available yet.
                                        </h4>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default visible-xs-block" role="tabpanel" id="policy_compliance_tab">
                    <div class="panel-heading visible-xs collapsed" id="policy_compliance">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse" data-parent="#tabs" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fw fw-policy fw-2x"></i>
                                Policy Compliance
                                <i class="caret-updown fw fw-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-heading display-none-xs">
                        Policy Compliance
                        &nbsp;&nbsp;
                        <span>
                            <a href="javascript:void(0);" id="refresh-policy">
                                <i class="fw fw-refresh"></i>
                            </a>
                        </span>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="policy_compliance">
                        <div class="panel-body ">
                            <span class="visible-xs add-padding-2x text-right">
                                <a href="javascript:void(0);" id="refresh-policy">
                                    <i class="fw fw-refresh"></i>
                                </a>
                            </span>
                            <div id="policy-spinner" class="wr-advance-operations-init hidden">
                                <i class="fw fw-settings fw-spin fw-2x"></i> Loading Policy Compliance...
                            </div>
                            <div id="policy-list-container">
                                <div class="message message-info">
                                    <h4 class="remove-margin">
                                        <i class="icon fw fw-info"></i>
                                        There is currently no effective policy applied for this device.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default visible-xs-block" role="tabpanel" id="device_location_tab">
                    <div class="panel-heading visible-xs collapsed" id="device_location">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#tabs" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <i class="fw fw-map-location fw-2x"></i>
                                    Device Location
                                <i class="caret-updown fw fw-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-heading display-none-xs">Device Location</div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="device_location">
                        <div class="panel-body">
                            <div id="map-error" class="message message-danger">
                                <h4 class="remove-margin"><i class="icon fw fw-error"></i>Device location cannot be retrieved.</h4>
                            </div>
                            <div id="device-location"
                                 data-lat="{{device.viewModel.location.latitude}}"
                                 data-long="{{device.viewModel.location.longitude}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default visible-xs-block" role="tabpanel" id="installed_applications_tab">
                    <div class="panel-heading visible-xs collapsed" id="installed_applications">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#tabs" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <i class="fw fw-application fw-2x"></i>
                                Installed Applications
                                <i class="caret-updown fw fw-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-heading display-none-xs">
                        Installed Applications
                        &nbsp;&nbsp;
                        <span>
                            <a href="javascript:void(0);" id="refresh-apps">
                                <i class="fw fw-refresh"></i>
                            </a>
                        </span>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="installed_applications">
                        <div class="panel-body ">
                            <span class="visible-xs add-padding-2x text-right">
                                <a href="javascript:void(0);" id="refresh-apps">
                                    <i class="fw fw-refresh"></i>
                                </a>
                            </span>
                            <div id="apps-spinner" class="wr-advance-operations-init hidden">
                                <i class="fw fw-settings fw-spin fw-2x"></i> Loading Applications List...
                            </div>
                            <div id="applications-list-container">
                                <div class="message message-info">
                                    <h4><i class="icon fw fw-info"></i>No applications found.</h4>
                                    <p>Please try refreshing the list in a while.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default visible-xs-block" role="tabpanel" id="event_log_tab">
                    <div class="panel-heading visible-xs collapsed" id="event_log">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#tabs" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <i class="fw fw-text fw-2x"></i>
                                Operations Log
                                <i class="caret-updown fw fw-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-heading display-none-xs">
                        Operations Log
                        &nbsp;&nbsp;
                        <span>
                            <a href="javascript:void(0);" id="refresh-operations">
                                <i class="fw fw-refresh"></i>
                            </a>
                        </span>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="event_log">
                        <div class="panel-body">
                                            <span class="visible-xs add-padding-2x text-right">
                                                <a href="javascript:void(0);" id="refresh-operations">
                                                    <i class="fw fw-refresh"></i>
                                                </a>
                                            </span>
                            <div id="operations-spinner" class="wr-advance-operations-init hidden">
                                <i class="fw fw-settings fw-spin fw-2x"></i> Loading Operations Log...
                            </div>
                            <div id="operations-log-container">
                                <div class="message message-info">
                                    <h4 class="remove-margin"><i class="icon fw fw-info"></i>There are no operations, performed yet on this device.</h4>
                                </div>
                            </div>
                            <table class="table table-striped table-hover table-bordered display data-table" id="operations-log-table">
                                <thead>
                                <tr class="sort-row">
                                    <th>Operation Code</th>
                                    <th>Status</th>
                                    <th>Request created at</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            {{/defineZone}}
            </div>
            </div>
        {{else}}
            <h1 class="page-sub-title">
                Permission Denied
            </h1>
            <br>
            You are not authorized to view specified device in the system.
        {{/if}}
    {{else}}
        <h1 class="page-sub-title">
            Device not found
        </h1>
        <br>
        You have tried to access either a removed or non-existing device.
    {{/if}}
{{/zone}}
{{#zone "bottomJs"}}
    {{#if isAuthorized}}
    <!--suppress HtmlUnknownTarget -->
    <script id="policy-view" src="{{@unit.publicUri}}/templates/policy-compliance.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
    <!--suppress HtmlUnknownTarget -->
    <script id="applications-list" src="{{@unit.publicUri}}/templates/applications-list.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
    <!--suppress HtmlUnknownTarget -->
    <script id="operations-log" src="{{@unit.publicUri}}/templates/operations-log.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
    {{js "js/device-detail.js"}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    {{js "js/load-map.js"}}
    {{/if}}
{{/zone}}